.st0 {
  fill:#29ABE2;
}

.st1 {
  opacity:0.2;
  fill:#29ABE2;
}

.molecule {
  width: 900px;
  padding: 3.5em;
  will-change: filter;
  transition: filter 300ms;
}
.molecule:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
   .molecule {
    animation: logo-spin infinite 160s linear;
  }
} */

